In [1]:
import pandas as pd
import numpy as np
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from yellowbrick.cluster import KElbowVisualizer
import random

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
link = 'hhttps://docs.google.com/spreadsheets/d/1baKBXDs_PiIIYyUFmq0UOCBcMwq6DWji/edit?usp=sharing&ouid=100934670427194582945&rtpof=true&sd=true'
id = '1baKBXDs_PiIIYyUFmq0UOCBcMwq6DWji'
print (id)

1baKBXDs_PiIIYyUFmq0UOCBcMwq6DWji

In [3]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('sales_df_completed_uc.xlsx')  
st_df1 = pd.read_excel('sales_df_completed_uc.xlsx')

In [4]:
len(st_df1)

30556

In [5]:
st_df1

,cust_id,status,category,payment_method,E Mail,respond_to_discount,total_spent,total_discount_received,no_of_transactions,days_till_last_interaction,...,age_binned_Middle_Age,age_binned_Old_age,Gender_F,Gender_M,Region_Midwest,Region_Northeast,Region_South,Region_West,cluster,cluster_Cat
0,4,complete,Mobiles & Tablets,easypay_voucher,reggie.doughty@gmail.com,1,27394.190,3406.010,41,93,...,1,0,0,1,1,0,0,0,3,2
1,15,complete,Home & Living,cod,debbie.diebold@bp.com,0,216.800,0.000,6,323,...,0,1,1,0,1,0,0,0,0,0
2,20,complete,Health & Sports,cod,eddy.pulver@yahoo.co.uk,0,28719.018,2875.682,11,93,...,0,0,0,1,0,0,1,0,3,5
3,21,complete,Beauty & Grooming,cod,adam.kan@shell.com,0,105.000,0.000,1,331,...,1,0,0,1,0,0,1,0,0,5
4,28,complete,Soghaat,cod,reinaldo.drain@yahoo.com,1,3971.300,500.000,11,224,...,0,1,0,1,0,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30551,113303,complete,Entertainment,cod,carrol.bishop@hotmail.com,0,1158.700,0.000,15,121,...,0,1,1,0,0,0,1,0,0,5
30552,113392,complete,Men's Fashion,cod,emmaline.johnson@gmail.com,0,191.700,0.000,3,129,...,1,0,1,0,0,0,0,1,0,0
30553,113565,complete,Mobiles & Tablets,cod,lauren.crimmins@ntlworld.com,0,180.000,0.000,3,124,...,0,1,0,1,0,0,1,0,0,5
30554,113675,complete,Women's Fashion,cod,dominic.vester@yahoo.com,0,354.500,0.000,10,117,...,0,1,0,1,0,0,1,0,0,7
30555,113791,complete,Kids & Baby,cod,timothy.brotherton@earthlink.net,0,104.400,0.000,5,120,...,1,0,1,0,0,0,1,0,0,5

In [6]:
st_df1.groupby('respond_to_discount').size()

respond_to_discount
0    21035
1     9521
dtype: int64

In [7]:
st_df2= st_df1[st_df1['respond_to_discount'] == 1]
st_df2

,cust_id,status,category,payment_method,E Mail,respond_to_discount,total_spent,total_discount_received,no_of_transactions,days_till_last_interaction,...,age_binned_Middle_Age,age_binned_Old_age,Gender_F,Gender_M,Region_Midwest,Region_Northeast,Region_South,Region_West,cluster,cluster_Cat
0,4,complete,Mobiles & Tablets,easypay_voucher,reggie.doughty@gmail.com,1,27394.19000,3406.01000,41,93,...,1,0,0,1,1,0,0,0,3,2
4,28,complete,Soghaat,cod,reinaldo.drain@yahoo.com,1,3971.30000,500.00000,11,224,...,0,1,0,1,0,0,0,1,0,5
8,44,complete,Mobiles & Tablets,Payaxis,kendall.ro@gmail.com,1,10711.07900,1548.42100,9,176,...,1,0,1,0,0,0,1,0,3,5
9,47,complete,Entertainment,Easypay_MA,jessie.schock@bp.com,1,18548.33000,4956.97000,32,158,...,1,0,0,1,0,1,0,0,3,0
14,71,complete,Appliances,Easypay,deetta.tucci@exxonmobil.com,1,10151.17601,1880.82399,56,106,...,0,1,1,0,1,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30489,106961,complete,Mobiles & Tablets,jazzvoucher,lakita.motes@gmail.com,1,5852.39200,678.80800,4,206,...,1,0,1,0,0,1,0,0,0,5
30491,106964,complete,Mobiles & Tablets,jazzvoucher,samira.lanphear@yahoo.com,1,4389.29400,509.10600,3,206,...,0,0,1,0,1,0,0,0,0,5
30497,106992,complete,Superstore,jazzvoucher,joe.guillemette@hotmail.com,1,746.41400,126.58600,4,206,...,0,0,0,1,0,0,0,1,0,5
30509,107423,complete,Men's Fashion,customercredit,karole.goo@hotmail.com,1,9627.53500,90.99000,10,136,...,0,0,1,0,0,0,0,1,3,0
30538,111017,complete,Men's Fashion,cod,britteny.mcvay@walmart.com,1,147.50000,100.00000,2,154,...,1,0,1,0,0,0,0,1,0,0

**Stratified Sampling**

Using https://www.calculator.net/sample-size-calculator.html?type=1&cl=95&ci=5&pp=50&ps=30556&x=67&y=14

In [8]:
population_total_discount_received_mean = round(st_df2['total_discount_received'].mean(),3)
population_total_discount_received_mean

1459.16

**For 90% C.I : Sample size : 264**

In [9]:
#Define sample size
sample_size_ci90 = 264

In [10]:
st_df2['Customer_Strata'] = np.where(st_df2['Gender_M'] == 1, 1, 0)
st_df2

<ipython-input-10-f1709c60c594>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st_df2['Customer_Strata'] = np.where(st_df2['Gender_M'] == 1, 1, 0)

,cust_id,status,category,payment_method,E Mail,respond_to_discount,total_spent,total_discount_received,no_of_transactions,days_till_last_interaction,...,age_binned_Old_age,Gender_F,Gender_M,Region_Midwest,Region_Northeast,Region_South,Region_West,cluster,cluster_Cat,Customer_Strata
0,4,complete,Mobiles & Tablets,easypay_voucher,reggie.doughty@gmail.com,1,27394.19000,3406.01000,41,93,...,0,0,1,1,0,0,0,3,2,1
4,28,complete,Soghaat,cod,reinaldo.drain@yahoo.com,1,3971.30000,500.00000,11,224,...,1,0,1,0,0,0,1,0,5,1
8,44,complete,Mobiles & Tablets,Payaxis,kendall.ro@gmail.com,1,10711.07900,1548.42100,9,176,...,0,1,0,0,0,1,0,3,5,0
9,47,complete,Entertainment,Easypay_MA,jessie.schock@bp.com,1,18548.33000,4956.97000,32,158,...,0,0,1,0,1,0,0,3,0,1
14,71,complete,Appliances,Easypay,deetta.tucci@exxonmobil.com,1,10151.17601,1880.82399,56,106,...,1,1,0,1,0,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30489,106961,complete,Mobiles & Tablets,jazzvoucher,lakita.motes@gmail.com,1,5852.39200,678.80800,4,206,...,0,1,0,0,1,0,0,0,5,0
30491,106964,complete,Mobiles & Tablets,jazzvoucher,samira.lanphear@yahoo.com,1,4389.29400,509.10600,3,206,...,0,1,0,1,0,0,0,0,5,0
30497,106992,complete,Superstore,jazzvoucher,joe.guillemette@hotmail.com,1,746.41400,126.58600,4,206,...,0,0,1,0,0,0,1,0,5,1
30509,107423,complete,Men's Fashion,customercredit,karole.goo@hotmail.com,1,9627.53500,90.99000,10,136,...,0,1,0,0,0,0,1,3,0,0
30538,111017,complete,Men's Fashion,cod,britteny.mcvay@walmart.com,1,147.50000,100.00000,2,154,...,0,1,0,0,0,0,1,0,0,0

In [12]:
from sklearn.model_selection import StratifiedShuffleSplit
np.random.seed(42)
# Set the split criteria
split = StratifiedShuffleSplit(n_splits=1, test_size=264)

# Perform data frame split
for x, y in split.split(st_df2, st_df2['Customer_Strata']):
    stratified_random_sample1 = st_df2.iloc[y].sort_values(by='cust_id')

# View sampled data frame
stratified_random_sample1

,cust_id,status,category,payment_method,E Mail,respond_to_discount,total_spent,total_discount_received,no_of_transactions,days_till_last_interaction,...,age_binned_Old_age,Gender_F,Gender_M,Region_Midwest,Region_Northeast,Region_South,Region_West,cluster,cluster_Cat,Customer_Strata
288,2600,complete,Superstore,cod,hang.fobbs@microsoft.com,1,3978.390,271.510,35,340,...,1,1,0,0,0,1,0,0,0,0
310,2804,complete,Computing,Payaxis,daniel.strausbaugh@shell.com,1,1979.600,700.000,4,247,...,0,0,1,0,0,1,0,0,5,1
542,5864,complete,Men's Fashion,easypay_voucher,johanna.salters@hotmail.com,1,3280.650,366.950,16,369,...,0,1,0,0,0,1,0,0,0,0
738,7905,complete,Mobiles & Tablets,Payaxis,eliseo.masuda@gmail.com,1,1828.900,300.000,1,414,...,0,0,1,1,0,0,0,0,5,1
899,9013,complete,Computing,Easypay_MA,laurinda.stringer@aol.com,1,1428.500,100.000,4,279,...,0,1,0,0,1,0,0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29459,104765,complete,Superstore,cod,freida.wortham@sbcglobal.net,1,506.998,100.002,3,227,...,0,1,0,1,0,0,0,0,5,0
29507,104832,complete,Appliances,cod,monty.fretwell@aol.com,1,977.700,150.000,1,227,...,0,0,1,1,0,0,0,0,5,1
29508,104833,complete,Women's Fashion,cod,danyel.threet@yahoo.com,1,105.000,25.000,1,227,...,0,1,0,0,0,1,0,0,5,0
29549,104904,complete,Kids & Baby,cod,cecil.kiger@exxonmobil.com,1,114.900,25.000,1,227,...,1,0,1,0,0,0,1,0,5,1
30356,106545,complete,Mobiles & Tablets,bankalfalah,scott.cowen@earthlink.net,1,1637.909,261.991,1,208,...,1,0,1,0,0,1,0,0,5,1

**For 95% C.I : Sample size : 370**

In [13]:
# Define sample size
sample_size_ci95 = 370

In [14]:
from sklearn.model_selection import StratifiedShuffleSplit
np.random.seed(42)
# Set the split criteria
split = StratifiedShuffleSplit(n_splits=1, test_size=370)

# Perform data frame split
for x, y in split.split(st_df2, st_df2['Customer_Strata']):
    stratified_random_sample2 = st_df2.iloc[y].sort_values(by='cust_id')

# View sampled data frame
stratified_random_sample2

,cust_id,status,category,payment_method,E Mail,respond_to_discount,total_spent,total_discount_received,no_of_transactions,days_till_last_interaction,...,age_binned_Old_age,Gender_F,Gender_M,Region_Midwest,Region_Northeast,Region_South,Region_West,cluster,cluster_Cat,Customer_Strata
288,2600,complete,Superstore,cod,hang.fobbs@microsoft.com,1,3978.390,271.510,35,340,...,1,1,0,0,0,1,0,0,0,0
310,2804,complete,Computing,Payaxis,daniel.strausbaugh@shell.com,1,1979.600,700.000,4,247,...,0,0,1,0,0,1,0,0,5,1
532,5763,complete,Mobiles & Tablets,Easypay,rocco.oja@yahoo.com,1,6588.300,840.000,3,373,...,0,0,1,1,0,0,0,0,5,1
542,5864,complete,Men's Fashion,easypay_voucher,johanna.salters@hotmail.com,1,3280.650,366.950,16,369,...,0,1,0,0,0,1,0,0,0,0
738,7905,complete,Mobiles & Tablets,Payaxis,eliseo.masuda@gmail.com,1,1828.900,300.000,1,414,...,0,0,1,1,0,0,0,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29485,104793,complete,Entertainment,cod,manie.wulf@ibm.com,1,4187.400,500.000,1,227,...,0,1,0,0,1,0,0,0,5,0
29507,104832,complete,Appliances,cod,monty.fretwell@aol.com,1,977.700,150.000,1,227,...,0,0,1,1,0,0,0,0,5,1
29508,104833,complete,Women's Fashion,cod,danyel.threet@yahoo.com,1,105.000,25.000,1,227,...,0,1,0,0,0,1,0,0,5,0
29549,104904,complete,Kids & Baby,cod,cecil.kiger@exxonmobil.com,1,114.900,25.000,1,227,...,1,0,1,0,0,0,1,0,5,1
30356,106545,complete,Mobiles & Tablets,bankalfalah,scott.cowen@earthlink.net,1,1637.909,261.991,1,208,...,1,0,1,0,0,1,0,0,5,1

**For 99% C.I : Sample size : 621**

In [27]:
# Define sample size
sample_size_ci99 = 621

In [15]:
from sklearn.model_selection import StratifiedShuffleSplit
np.random.seed(42)
# Set the split criteria
split = StratifiedShuffleSplit(n_splits=1, test_size=621)

# Perform data frame split
for x, y in split.split(st_df2, st_df2['Customer_Strata']):
    stratified_random_sample3 = st_df2.iloc[y].sort_values(by='cust_id')

# View sampled data frame
stratified_random_sample3

,cust_id,status,category,payment_method,E Mail,respond_to_discount,total_spent,total_discount_received,no_of_transactions,days_till_last_interaction,...,age_binned_Old_age,Gender_F,Gender_M,Region_Midwest,Region_Northeast,Region_South,Region_West,cluster,cluster_Cat,Customer_Strata
107,767,complete,Mobiles & Tablets,Payaxis,antionette.lisk@yahoo.com,1,5070.810,1958.490,4,370,...,0,1,0,0,0,1,0,0,5,0
288,2600,complete,Superstore,cod,hang.fobbs@microsoft.com,1,3978.390,271.510,35,340,...,1,1,0,0,0,1,0,0,0,0
310,2804,complete,Computing,Payaxis,daniel.strausbaugh@shell.com,1,1979.600,700.000,4,247,...,0,0,1,0,0,1,0,0,5,1
532,5763,complete,Mobiles & Tablets,Easypay,rocco.oja@yahoo.com,1,6588.300,840.000,3,373,...,0,0,1,1,0,0,0,0,5,1
542,5864,complete,Men's Fashion,easypay_voucher,johanna.salters@hotmail.com,1,3280.650,366.950,16,369,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29847,105431,complete,Women's Fashion,cod,rufus.leos@yahoo.co.uk,1,334.500,20.000,2,212,...,1,0,1,1,0,0,0,0,5,1
30323,106421,complete,Appliances,jazzvoucher,peg.riter@sbcglobal.net,1,13814.501,2163.699,21,103,...,0,1,0,0,1,0,0,3,5,0
30356,106545,complete,Mobiles & Tablets,bankalfalah,scott.cowen@earthlink.net,1,1637.909,261.991,1,208,...,1,0,1,0,0,1,0,0,5,1
30367,106577,complete,Mobiles & Tablets,jazzvoucher,alica.shumpert@aol.com,1,5852.392,678.808,4,208,...,0,1,0,0,0,1,0,0,2,0
30445,106812,complete,Beauty & Grooming,cod,kimberly.kroeger@ntlworld.com,1,450.000,100.000,1,207,...,0,1,0,0,0,1,0,0,5,0

**Calculation Sample mean, sample standard deviation and standard error for each sample considering total_disocunt_recieved**

**Sample 1**

In [16]:
td_mean_s1 = np.mean(stratified_random_sample1["total_discount_received"])

In [17]:
td_std_s1 = np.std(stratified_random_sample1["total_discount_received"],ddof=1)

In [18]:
td_se_s1 = td_std_s1 / np.sqrt(sample_size_ci90)

In [19]:
print(f"Mean for sample 1: {td_mean_s1:.4f}")
print(f"Standard deviation for sample 1: {td_std_s1:.4f}")
print(f"Standard Error for sample 1: {td_se_s1:.4f}")

Mean for sample 1: 1270.6985
Standard deviation for sample 1: 1863.4812
Standard Error for sample 1: 114.6893

**Sample 2**

In [20]:
td_mean_s2 = np.mean(stratified_random_sample2["total_discount_received"])

In [21]:
td_std_s2 = np.std(stratified_random_sample2["total_discount_received"],ddof=1)

In [22]:
td_se_s2 = td_std_s2 / np.sqrt(sample_size_ci95)

In [23]:
print(f"Mean for sample 2: {td_mean_s2:.4f}")
print(f"Standard deviation for sample 2: {td_std_s2:.4f}")
print(f"Standard Error for sample 2: {td_se_s2:.4f}")

Mean for sample 2: 1333.0528
Standard deviation for sample 2: 1946.0673
Standard Error for sample 2: 101.1712

**Sample 3**

In [24]:
td_mean_s3 = np.mean(stratified_random_sample3["total_discount_received"])

In [25]:
td_std_s3 = np.std(stratified_random_sample3["total_discount_received"],ddof=1)

In [28]:
td_se_s3 = td_std_s3 / np.sqrt(sample_size_ci99)

In [29]:
print(f"Mean for sample 3: {td_mean_s3:.4f}")
print(f"Standard deviation for sample 3: {td_std_s3:.4f}")
print(f"Standard Error for sample 3: {td_se_s3:.4f}")

Mean for sample 3: 1361.9679
Standard deviation for sample 3: 2196.7290
Standard Error for sample 3: 88.1517

In [30]:
tb2 = {'Sample': ['Sample 1', 'Sample 2', 'Sample 3'],
        'Mean': [td_mean_s1,td_mean_s2,td_mean_s3],
        'Standard Deviation': [td_std_s1,td_std_s2,td_std_s3],
        'Standard Error': [td_se_s1,td_se_s2,td_se_s3]}

total_discount_summeries = pd.DataFrame(tb2)

# Print the DataFrame
print(total_discount_summeries)

     Sample         Mean  Standard Deviation  Standard Error
0  Sample 1  1270.698520         1863.481182      114.689339
1  Sample 2  1333.052755         1946.067328      101.171223
2  Sample 3  1361.967893         2196.728974       88.151697

In [31]:
data1 = {'Confidense Interval':['90%','95%','99%']
        , 'Sample Size':[sample_size_ci90,sample_size_ci95,sample_size_ci99]
        , 'Discount Mean':[td_mean_s1,td_mean_s2,td_mean_s3]
        ,'Real Discount Mean':[population_total_discount_received_mean,population_total_discount_received_mean,population_total_discount_received_mean]}

In [32]:
df1=pd.DataFrame(data1)
df1

  Confidense Interval  Sample Size  Discount Mean  Real Discount Mean
0                 90%          264    1270.698520             1459.16
1                 95%          370    1333.052755             1459.16
2                 99%          621    1361.967893             1459.16

In [33]:
df1['Absolute Error'] = abs(df1['Real Discount Mean'] - df1['Discount Mean'])
df1

,Confidense Interval,Sample Size,Discount Mean,Real Discount Mean,Absolute Error
0,90%,264,1270.698520,1459.16,188.461480
1,95%,370,1333.052755,1459.16,126.107245
2,99%,621,1361.967893,1459.16,97.192107